.cardPopedUp {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
    body {
        overflow: hidden; /* Deshabilitar el scroll en el cuerpo cuando el popup esté abierto */
    }
}

.popupContainer {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    min-height: 250px;
    position: relative; /* Importante para posicionar el botón de cierre */
    transition: all 0.3s ease-in-out;

    @media (max-width: 768px) {
        width: 90%;
        max-width: 400px;
        padding: 10px;
        max-height: 80%;
        font-size: 14px;
    }

    @media (max-width: 480px) {
        width: 95%;
        max-width: 350px;
        padding: 10px;
        max-height: 70%;
        font-size: 12px;
    }

    .popupCard-img {
        width: 100%;
        height: 120px; /* Reducimos la altura de la imagen */
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 8px; /* Reducimos el margen debajo de la imagen */
    }

    .popupCard-body {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        font-size: 13px; /* Reducimos el tamaño de la fuente para ajustarlo mejor */

        .popupCard-tags {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .popupCard-tag {
                font-size: 9px; /* Reducimos un poco más el tamaño de las etiquetas */
                border: 1px solid rgba($color: #2c2b2b, $alpha: 0.6);
                border-radius: 6px;
                padding: 4px;
                background-color: rgba($color: #2c2b2b, $alpha: 0.1);
                color: rgba($color: #2c2b2b, $alpha: 0.6);
            }
        }

        .popupCard-description {
            font-size: 12px; /* Reducimos el tamaño de la descripción */
            line-height: 1.4;
            margin-bottom: 8px; /* Reducimos el margen inferior */
        }

        .popupCard-stock {
            font-size: 12px;
            font-weight: bold;
            color: #2d2d2d;
        }
    }
}

.popupCard-close-button {
    position: absolute; /* Posiciona el botón respecto al contenedor */
    top: 10px;
    right: 10px; /* Alineado a la esquina superior derecha */
    cursor: pointer;

    .close {
      font-size: 30px;
      color: #333;
      border: none;
      background: transparent;
      padding: 5px;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: #f00; /* Cambia el color al pasar el mouse */
      }

      &:active {
        transform: scale(0.9); /* Pequeño efecto al hacer click */
      }
    }
  }
